<div>
  <div class="card">
    <ng-view-stepper #viewStepper="ngViewStepper" [initialViewKey]="'page-2'">
      <ng-view-stepper-view key="page-1">
        <ng-template>
          <div>
            <div class="img-wrapper">
              <img
                src="https://images.unsplash.com/photo-1494905998402-395d579af36f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80"
              />
            </div>
            <div class="view">
              <div>
                <h2>My Car</h2>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable.
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-view-stepper-view>
      <ng-view-stepper-view key="page-2">
        <ng-template>
          <div>
            <div class="img-wrapper">
              <img
                src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80"
              />
            </div>
            <div class="view">
              <div>
                <h2>My House</h2>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-view-stepper-view>
      <ng-view-stepper-view key="page-3">
        <ng-template>
          <div>
            <div class="img-wrapper">
              <img
                src="https://images.unsplash.com/photo-1527431293370-0cd188ca5d15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80"
              />
            </div>
            <div class="view">
              <div>
                <h2>My Boat</h2>
                <p>
                  But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  you a complete account of the system, and expound the actual
                  teachings of the great explorer of the truth, the
                  master-builder of human happiness. No one rejects, dislikes,
                  or avoids pleasure itself, because it is pleasure, but because
                  those who do not know how to pursue pleasure rationally
                  encounter consequences that are extremely painful. Nor again
                  is there anyone who loves or pursues or desires to obtain pain
                  of itself, because it is pain, but because occasionally
                  circumstances occur in which toil and pain can procure him
                  some great pleasure. To take a trivial example, which of us
                  ever undertakes laborious physical exercise, except to obtain
                  some advantage from it? But who has any right to find fault
                  with a man who chooses to enjoy a pleasure that has no
                  annoying consequences, or one who avoids a pain that produces
                  no resultant pleasure?"
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-view-stepper-view>
    </ng-view-stepper>
  </div>
  <button (click)="viewStepper.goToView('page-1')">Page 1</button>
  <button (click)="viewStepper.goToView('page-2')">Page 2</button>
  <button (click)="viewStepper.goToView('page-3')">Page 3</button>
</div>
